body {
	background-color: lightsteelblue;
}

header {
	display: flex;
	flex-direction: column-reverse;
}

#activity_name {
	width: 11.8rem;
	font: 1.2rem "Noto Sans", sans-serif;
	font-weight: 800;
	letter-spacing: 0.025rem;
	color: gold;
	background-color:gray;
	border: 0.2rem solid gold;
	border-top-left-radius: 1.2rem;
	border-bottom: 0;
	padding-left: 1rem;
	padding-top: 0.5rem;
	margin-bottom: 0;
	margin-top: 0;
}

#path_container {
	display: inline-flex;
	font: 1rem "DejaVu Sans Mono", sans-serif;
	font-weight: bold;
	color: white;
	background-color:gray;
	border: 0.2rem solid gold;
	border-top-right-radius: 1.2rem;
	border-bottom: 0;
	padding: 1rem;
	padding-bottom: 0;
	margin-top: -0.2rem;  /* Overlaps adjacent element border */
	margin-bottom: 0;
}
#path_container span {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

#path_name {
	width: 100%;
	white-space: nowrap;
	overflow: auto;
	font-weight: normal;
	color: black;
	background-color: lavender;
	border-radius: 0.4rem;
	padding-left: 0.5rem;
	margin-left: 0.5rem;
}


form {
	display: flex;
	flex-direction: row-reverse;
}

.content-window {
	width: 100%;
	height: calc(100vh - 8rem);
	min-height: 18rem;
	background-color: lavender;
	border: 0.2rem solid gold;
	border-radius: 1rem;
	border-top-left-radius: 0;
}
select {
	background-color: lavender;
	font: 1rem "DejaVu Sans Mono", monospace;
}
textarea {
	box-sizing: border-box;
	resize: none;
	font-size: 0.85rem;
	color: black;
}

option[data-opttype="dir"] {
	color: blue;
}
option[data-opttype="bin"] {
	color: green;
}
option[data-opttype="txt"] {
	color: black;
}

.content-container {
	flex: auto;
	min-height: 18rem;
	background-color: gray;
	border: 0.2rem solid gold;
	border-top: 0;
	border-radius: 1.2rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 1rem;
}

.menu {
	display: inline-flex;
	flex-direction: column;
	flex: none;
	width: 12rem;
	margin-right: -0.2rem;  /* Overlaps adjacent element border */
}
.menu-buttons {
	display: inline-flex;
	flex-direction: column;
	background-color: gray;
	border: 0.2rem solid gold;
	border-top: 0;
	border-right: 0;
	border-bottom-left-radius: 1.2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.7rem;
}
.menu-free-space {
	display: inline-flex;
	flex-direction: column;
	background-color: transparent;
}

button {
	margin-bottom: 0.25rem;
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
	letter-spacing: 0.025rem;
	color: gold;
	background-color: darkslategray;
	border: 0.2rem solid gold;
	border-radius: 1rem;
}
button:last-child {
	margin-bottom: 0;
}
button:disabled {
	color: goldenrod;
	border-color: goldenrod;
}
button:focus {
	border-color: yellow;
}
button:hover:enabled {
	color: yellow;
	margin-right: -0.5rem;
	transition-duration: 0.2s;
}
button:active {
	color: yellow;
	border-color: yellow;
}


/*
 * This CSS file uses reverse flex directions and negative margins
 * as a trick to give the illusion of a surface of with an irregular
 * shape having the same border.
 */
