@font-face {
    font-family: 'NotoSans-Black';
        src: url('NotoSans-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-BlackItalic';
        src: url('NotoSans-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-Bold';
        src: url('NotoSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-BoldItalic';
        src: url('NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-ExtraBold';
        src: url('NotoSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-ExtraBoldItalic';
        src: url('NotoSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-ExtraLight';
        src: url('NotoSans-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-ExtraLightItalic';
        src: url('NotoSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-Italic';
        src: url('NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-Light';
        src: url('NotoSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-LightItalic';
        src: url('NotoSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-Medium';
        src: url('NotoSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-MediumItalic';
        src: url('NotoSans-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-Regular';
        src: url('NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-SemiBold';
        src: url('NotoSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-SemiBoldItalic';
        src: url('/NotoSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'NotoSans-Thin';
        src: url('NotoSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'NotoSans-ThinItalic';
        src: url('NotoSans-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

 /* Same font-family value */

@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
      }



@font-face {
    font-family: 'Noto Sans';
        src: url('NotoSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
      }

