@font-face {
    font-family: 'DejaVuSansMono-Bold';
        src: url('DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'DejaVuSansMono-BoldOblique';
        src: url('DejaVuSansMono-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'DejaVuSansMono';
        src: url('DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'DejaVuSansMono-Oblique';
        src: url('DejaVuSansMono-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

 /* Same font-family value */

@font-face {
    font-family: 'DejaVu Sans Mono';
        src: url('DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'DejaVu Sans Mono';
        src: url('DejaVuSansMono-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'DejaVu Sans Mono';
        src: url('DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'DejaVu Sans Mono';
        src: url('DejaVuSansMono-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

